# Proyecto Venta de Casas en King County, USA

id - Unique ID for each home sold

date - Date of the home sale

price - Price of each home sold

bedrooms - Number of bedrooms

bathrooms - Number of bathrooms, where .5 accounts for a room with a toilet but no shower

sqft_living - Square footage of the apartments interior living space

sqft_lot - Square footage of the land space

floors - Number of floors

waterfront - A dummy variable for whether the apartment was overlooking the waterfront or not

view - An index from 0 to 4 of how good the view of the property was

condition - An index from 1 to 5 on the condition of the apartment,

grade - An index from 1 to 13, where 1-3 falls short of building construction and design, 7 has an average level of 
construction and design, and 11-13 have a high quality level of construction and design.

sqft_above - The square footage of the interior housing space that is above ground level

sqft_basement - The square footage of the interior housing space that is below ground level

yr_built - The year the house was initially built

yr_renovated - The year of the house’s last renovation

zipcode - What zipcode area the house is in

lat - Lattitude

long - Longitude

sqft_living15 - The square footage of interior housing living space for the nearest 15 neighbors

sqft_lot15 - The square footage of the land lots of the nearest 15 neighbors

Los datos están disponibles [aquí](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction)

## Preguntas del CEO
A partir de estos datos, hay que contestar las siguientes preguntas. 

1. ¿Cuántas casas hay disponibles para comprar?
2. ¿Cuántos atributos tienen las casas?
3. ¿Cuáles son los atributos de las casas?
4. ¿Cuál es la casa más cara (casa con mayor valor de venta)?
5. ¿Qué casa tiene más cuartos?
6. ¿Cuál es la suma total de trimestres en el conjunto de datos?
7. ¿Cuántas casas tienen 2 baños?
8. ¿Cuál es el precio promedio de todas las casas en el conjunto de datos?
9. ¿Cuál es el precio medio de las viviendas de 2 baños?
10. ¿Cuál es el precio mínimo para viviendas de 3 dormitorios?
11. ¿Cuántas casas tienen más de 300 metros cuadrados en la sala?
12. ¿Cuántas casas tienen más de 2 plantas?
13. ¿Cuántas casas tienen vista al mar?
14. De las casas con vistas al mar, ¿cuántas tienen 3 habitaciones?
15. De las casas con más de 300 metros cuadrados de salón, ¿cuántas tienen más de 2 baños?

## Respondiendo las preguntas del CEO

In [368]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [91]:
listas = ['a','b','c']
tuplas = ('a','b','c')
diccionarios = {'Var1':1, 'Var':2}

In [92]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}

In [93]:
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [308]:
data = pd.read_csv('../data/kc_house_data.csv')

In [95]:
data.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21603,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [96]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [97]:
data.shape

(21613, 21)

In [98]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [99]:
data[['sqft_basement','zipcode']]

       sqft_basement  zipcode
0                  0    98178
1                400    98125
2                  0    98028
3                910    98136
4                  0    98074
...              ...      ...
21608              0    98103
21609              0    98146
21610              0    98144
21611              0    98027
21612              0    98144

[21613 rows x 2 columns]

# 1. ¿Cuántas casas hay disponibles para comprar?

In [100]:
print('Están disponibles {} casas'.format(data['id'].nunique()))

Están disponibles 21436 casas

# 2. ¿Cuántos atributos tienen las casas?

In [101]:
print('Los inmuebles tienen {} atributos'.format(len(data.columns)-2))

Los inmuebles tienen 19 atributos

# 3. ¿Cuáles son los atributos de las casas?

In [102]:
aux = data.columns.tolist()
aux.remove('id')
aux.remove('date')
print('Los atributos de las casas son: {}'.format(aux))

Los atributos de las casas son: ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

# 4. ¿Cuál es la casa más cara (casa con mayor valor de venta)?

In [103]:
data[data['price']==data['price'].max()].T

                          7252
id                  6762700020
date           20141013T000000
price                7700000.0
bedrooms                     6
bathrooms                  8.0
sqft_living              12050
sqft_lot                 27600
floors                     2.5
waterfront                   0
view                         3
condition                    4
grade                       13
sqft_above                8570
sqft_basement             3480
yr_built                  1910
yr_renovated              1987
zipcode                  98102
lat                    47.6298
long                  -122.323
sqft_living15             3940
sqft_lot15                8800

# 5. ¿Qué casa tiene más cuartos?

In [104]:
data[data['bedrooms'] == data['bedrooms'].max()].T

                         15870
id                  2402100895
date           20140625T000000
price                 640000.0
bedrooms                    33
bathrooms                 1.75
sqft_living               1620
sqft_lot                  6000
floors                     1.0
waterfront                   0
view                         0
condition                    5
grade                        7
sqft_above                1040
sqft_basement              580
yr_built                  1947
yr_renovated                 0
zipcode                  98103
lat                    47.6878
long                  -122.331
sqft_living15             1330
sqft_lot15                4700

# 6. ¿Cuál es la suma total de habitaciones en el conjunto de datos?

In [105]:
print('En total, hay {} habitaciones a la venta'.format(data['bedrooms'].sum()))

En total, hay 72854 habitaciones a la venta

# 7. ¿Cuántas casas tienen 2 baños?

In [106]:
print('Hay {} con únicamente dos baños'.format(data[data['bathrooms'] == 2].shape[0]))

Hay 1930 con únicamente dos baños

# 8. ¿Cuál es el precio promedio de todas las casas en el conjunto de datos?

In [107]:
print('El precio promedio de todas las casas del conjunto de datos es de {}'.format(data['price'].mean()))

El precio promedio de todas las casas del conjunto de datos es de 540088.1417665294

In [108]:
print('En total, se movieron {} dólares en el mercado inmobiliario de King Count entre 2014 y 2015'.format(data['price'].sum()))

En total, se movieron 11672925008.0 dólares en el mercado inmobiliario de King Count entre 2014 y 2015

# 9. ¿Cuál es el precio medio de las viviendas de 2 baños?

In [109]:
data[data['bathrooms'] ==2]['price'].mean()

457889.7186528497

In [110]:
print('El precio medio de las viviendas de dos baños es de {}'.format(round(data.loc[data['bathrooms'] ==2,'price'].mean(),2)))

El precio medio de las viviendas de dos baños es de 457889.72

# 10. ¿Cuál es el precio mínimo para viviendas de 3 dormitorios?

In [111]:
print('{} es el precio mínimo de una vivienda con tres habitaciones'.format(round(data.loc[data['bedrooms']==3, 'price'].min(),2)))

82000.0 es el precio mínimo de una vivienda con tres habitaciones

# 11. ¿Cuántas casas tienen más de 300 metros cuadrados en la sala?

In [112]:
print('Hay {} casa con más de 300 metros cuadrados en la sala'.format(data[data['sqft_living']>300].shape[0]))

Hay 21612 casa con más de 300 metros cuadrados en la sala

# 12. ¿Cuántas casas tienen más de 2 plantas?

In [113]:
resultado = data[data['floors']>2].shape[0]
print('Hay {} casas con más de dos pisos'.format(resultado))

Hay 782 casas con más de dos pisos

# 13. ¿Cuántas casas tienen vista al mar?

In [114]:
resultado = data[data['waterfront']== 1].shape[0]
print('Hay {} casas con vista al agua'.format(resultado))

Hay 163 casas con vista al agua

In [115]:
data['waterfront'] == 1

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: waterfront, Length: 21613, dtype: bool

# 14. De las casas con vistas al mar, ¿cuántas tienen 3 habitaciones?

In [116]:
T = True
F = False
# original
print('El valor de la sentencia es: {}'.format(F))
#  negación 
res1 = not F
print('El valor de la sentencia es: {}'.format(res1))
# conjuncion (y)
res2 = T & T 
print('El valor de la sentencia es: {}'.format(res2))
# disyunción (o)
res3 = F | F
print('El valor de la sentencia es: {}'.format(res3))

El valor de la sentencia es: False
El valor de la sentencia es: True
El valor de la sentencia es: True
El valor de la sentencia es: False

In [117]:
p = [True, True, False, False]
q = [True, False, True, False]

#create new df 
df = pd.DataFrame({'p':p,'q':q})
df

# # Crear columna de la negación de p
df['~p'] = ~ df['p']
df['~q'] = ~ df['q']
df['p y q'] = df['p'] & df['q']
df['p o q'] = df['p'] | df['q']
df['p -> q'] = df['~p'] | df['q']

df

       p      q     ~p     ~q  p y q  p o q  p -> q
0   True   True  False  False   True   True    True
1   True  False  False   True  False   True   False
2  False   True   True  False  False   True    True
3  False  False   True   True  False  False    True

In [118]:
resultado = data[(data['waterfront'] ==1) & (data['bedrooms'] ==3 )].shape[0]
print('Hay {} casas con vista a la mar y con tres habitaciones'.format(resultado))

Hay 64 casas con vista a la mar y con tres habitaciones

# 15. De las casas con más de 300 pies cuadrados de sala, ¿cuántas tienen más de 2 baños?

In [119]:
resultado = data[(data['sqft_living']>300) & (data['bathrooms']>2)].shape[0]
print('Hay {} casas con salas de más de 300 pies cuadradaos y más de dos baños'.format(resultado))

Hay 11242 casas con salas de más de 300 pies cuadradaos y más de dos baños

# Cuántas casas frente al agua con tres habitaciones y más de dos baños

In [120]:
restultado = data[(data['waterfront'] == 1)&(data['bedrooms'] ==3)&(data['bathrooms']>2)].shape[0]
print('Hay {} casa frente al agua con tres habitaciones y más de dos baños'.format(resultado))

Hay 11242 casa frente al agua con tres habitaciones y más de dos baños

# Nuevas preguntas del CEO

1. Cree una nueva columna llamada: "house_age"
    - Si el valor de la columna "fecha" es mayor que 2015-01-01 => 'new_house'
    - Si el valor de la columna "fecha" es menor que 2015-01-01 => 'old_house'
   '
2. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es igual a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'
3. Cree una nueva columna llamada: "condition_type"
    - Si el valor de la columna "condición" es menor o igual a 2 => 'malo'
    - Si el valor de la columna "condición" es igual a 3 o 4 => 'regular'
    - Si el valor de la columna "condición" es igual a 5 => 'bueno'
4. Cambie el TIPO en la columna "condición" a CADENA
5. Elimine las columnas: "sqft_living15" y "sqft_lot15"
6. Cambie el TIPO en la columna "yr_build" a FECHA
7. Cambie el TIPO en la columna "yr_renovated" a FECHA
8. ¿Cuál es la fecha más temprana de construcción de una propiedad?
9. ¿Cuál es la fecha de renovación más temprana para una propiedad?
10. ¿Cuántas propiedades tienen 2 pisos?
11. ¿Cuántas propiedades se encuentran en condición igual a “regular”?
12. ¿Cuántas propiedades están en una condición igual a “mala” y tienen “vistas al agua”?
13. ¿Cuántas propiedades tienen una condición igual a “buena” y son “nueva_casa”?
14. ¿Cuál es el valor de la propiedad de “estudio” más cara?
15. ¿Cuántas propiedades de “apartamentos” se renovaron en 2015?
16. ¿Cuál es la mayor cantidad de cuartos que tiene una propiedad tipo “casa”?
17. ¿Cuántas propiedades de “casa_nueva” se renovaron en 2014?
18. Seleccione las columnas: “id”, “fecha”, “precio”, “pisos”, “código postal” por método:
    - Directo por nombre de columna.
    - Por los Índices.
    - Por los índices de las filas y el nombre de las columnas
    - Índices booleanos 
19. Guarde un archivo .csv con solo las columnas del elemento 10 al 17.

# 1. Cree una nueva columna llamada: "house_age"
    - Si el valor de la columna "fecha" es mayor que 2015-01-01 => 'new_house'
    - Si el valor de la columna "fecha" es menor que 2015-01-01 => 'old_house'

In [121]:
data['date'] = pd.to_datetime(data['date'], format = '%Y-%m-%d')

In [264]:
data['yr_built'].dt.year

0        1955
1        1951
2        1933
3        1965
4        1987
         ...
21608    2009
21609    2014
21610    2009
21611    2004
21612    2008
Name: yr_built, Length: 21613, dtype: int64

In [265]:
#llenar la columna anterior con new_house para fechas anteriores a 2015-01-01
data['house_age'] = 'NA'
#llenar la columna anterior con new_house para fechas anteriores a 2015-01-01
data.loc[data['yr_built'].dt.year>1990,'house_age'] = 'new_house' 
#llenar la columna anterior con old_house para fechas anteriores a 2015-01-01
data.loc[data['yr_built'].dt.year<1990,'house_age'] = 'old_house'
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955-01-01,0,98178,47.5112,-122.257,old_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951-01-01,1991,98125,47.7210,-122.319,old_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933-01-01,0,98028,47.7379,-122.233,old_house,apartment,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965-01-01,0,98136,47.5208,-122.393,old_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987-01-01,0,98074,47.6168,-122.045,old_house,house,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009-01-01,0,98103,47.6993,-122.346,new_house,house,regular
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014-01-01,0,98146,47.5107,-122.362,new_house,house,regular
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009-01-01,0,98144,47.5944,-122.299,new_house,apartment,regular
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004-01-01,0,98027,47.5345,-122.069,new_house,house,regular
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008-01-01,0,98144,47.5941,-122.299,new_house,apartment,regular

In [123]:
data[data['date']=='2015-01-01']

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15, house_age]
Index: []

[0 rows x 22 columns]

# 2. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “bethrooms” es igual a 1 => ‘studio’
    - Si el valor de la columna “bethrooms” es igual a 2 => 'apartment'
    - Si el valor de la columna “bethrooms” es mayor a 2 => 'house'

In [124]:
x = 1

if x == 2: 
    print('X es el valor 2')
elif x == 3: 
    print('x es el valor 3')
elif x == 4: 
    print('x es el valor 4')
else: 
    print('x no es 2 ni 3 ni 4')

x no es 2 ni 3 ni 4

In [125]:
for x in [1,2,3,4]:
    print(x)

1
2
3
4

In [128]:
lista = [0,1,2,3,4]
for x in lista: 
    if x == 2: 
        print('X es el valor 2')
    elif x == 3: 
        print('x es el valor 3')
    elif x == 4: 
        print('x es el valor 4')
    else: 
        print('x no es 2 ni 3 ni 4')

x no es 2 ni 3 ni 4
x no es 2 ni 3 ni 4
X es el valor 2
x es el valor 3
x es el valor 4

In [129]:
data['dormitory_type'] = 'NA'

In [130]:
for i in range(3):
    if data.loc[i,'bedrooms']==2: 
        print('aquí hay una casa de dos habitaciones')
    else: 
        print('aquí no hay casa de dos habitaciones')

aquí no hay casa de dos habitaciones
aquí no hay casa de dos habitaciones
aquí hay una casa de dos habitaciones

In [131]:
for i in range(data.shape[0]): 
    if data.loc[i,'bedrooms']==1: 
        data.loc[i,'dormitory_type'] = 'studio'
    elif data.loc[i,'bedrooms']==2: 
        data.loc[i,'dormitory_type'] = 'apartment'
    elif data.loc[i,'bedrooms']>2: 
        data.loc[i,'dormitory_type'] = 'house'

In [132]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age,dormitory_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,old_house,house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,old_house,house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,new_house,apartment
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,old_house,house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,new_house,house
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,old_house,house
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,new_house,house
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,old_house,apartment
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,new_house,house
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,old_house,apartment

# 3. Cree una nueva columna llamada: "condition_type"
    - Si el valor de la columna "condition" es menor o igual a 2 => 'bad'
    - Si el valor de la columna "condition" es igual a 3 o 4 => 'regular'
    - Si el valor de la columna "condition" es igual a 5 => 'good'

In [52]:
def suma(x,y):
    return x+y

In [53]:
suma(5,6)

11

In [133]:
def condition_function(x):
    if x <=2: 
        return 'bad'
    elif (x==3)|(x==4): 
        return 'regular'
    elif x==5: 
        return 'good'

In [134]:
condition_function(1)

'bad'

In [135]:
data['condition_type2'] = data['condition'].apply(condition_function)

In [136]:
data['condition_type']=data['condition'].apply(lambda x:'bad' if x <= 2 else 'regular' if (x==3)|(x==4) else 'good')

In [137]:
data = data.drop('condition_type2', axis = 1)

In [138]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,old_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,old_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,new_house,apartment,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,old_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,new_house,house,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,2009,0,98103,47.6993,-122.346,1530,1509,old_house,house,regular
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,2014,0,98146,47.5107,-122.362,1830,7200,new_house,house,regular
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,2009,0,98144,47.5944,-122.299,1020,2007,old_house,apartment,regular
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,2004,0,98027,47.5345,-122.069,1410,1287,new_house,house,regular
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,2008,0,98144,47.5941,-122.299,1020,1357,old_house,apartment,regular

# 4. Cambie el TIPO en la columna "condition" a STRING

In [139]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                  int64
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
sqft_living15              int64
sqft_lot15                 int64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

In [140]:
data['condition'] = data['condition'].astype(str)

In [141]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
sqft_living15              int64
sqft_lot15                 int64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

# 5. Elimine las columnas: "sqft_living15" y "sqft_lot15"

In [142]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])

df.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [143]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'house_age',
       'dormitory_type', 'condition_type'],
      dtype='object')

In [144]:
data = data.drop(['sqft_living15','sqft_lot15'], axis=1)

In [145]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'condition_type'],
      dtype='object')

# 6. Cambie el TIPO en la columna "yr_build" a DATE

In [146]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

In [147]:
data['yr_built'] = pd.to_datetime(data['yr_built'], format = '%Y' )

In [148]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

# 7. Cambie el TIPO en la columna "yr_renovated" a DATE

In [149]:
data['yr_renovated'] = data['yr_renovated'].apply(lambda x: pd.to_datetime(x, format ='%Y') if x >0 else x )

In [150]:
data[data['yr_renovated'] == 0].shape[0]

20699

# 8. ¿Cuál es la fecha más antigua de construcción de una propiedad?

In [152]:
# data.sort_values('yr_built')

data['yr_built'].min()

Timestamp('1900-01-01 00:00:00')

# 9. ¿Cuál es la fecha de renovación más temprana para una propiedad?

In [162]:
print('La renovación más temprana de la que se tenga registro es en {}'.format(data[data['yr_renovated']!=0]['yr_renovated'].min().year))

La renovación más temprana de la que se tenga registro es en 1934

# 10. ¿Cuántas propiedades tienen 2 pisos?

In [167]:
print('Hay {} casas de dos pisos'.format(data[data['floors'] == 2].shape[0]))

Hay 8241 casas de dos pisos

# 11. ¿Cuántas propiedades se encuentran en condición igual a “regular”?

In [179]:
porcentaje = round(100*(data[data['condition_type'] == 'regular'].shape[0]/data.shape[0]),2)
print('{}% de las casas en la base de datos están en condición regular'.format(porcentaje))

91.2% de las casas en la base de datos están en condición regular

# 12. ¿Cuántas propiedades están en una condición igual a “bad” y tienen “waterfront”?

In [201]:
mala_waterfront = data[(data['condition_type']=='bad')&(data['waterfront'] == 1)].shape[0]
print('Hay {} casas en malas condiciones y con vista al agua'.format(mala_waterfront))

Hay 2 casas en malas condiciones y con vista al agua

# 13. ¿Cuántas propiedades tienen una condición igual a “good” y son “new_house”?

In [211]:
good_new = data[(data['condition_type'] == 'good')&(data['house_age'] == 'new_house')].shape[0]
print('Hay {} casas nuevas en buena condición'.format(good_new))

Hay 423 casas nuevas en buena condición

# 14. ¿Cuál es el valor de la propiedad de “studio” más cara?

In [223]:
studio_caro = data[data['dormitory_type'] == 'studio']['price'].max()
print('El estudio más caro cuesta ${}'.format(studio_caro))

El estudio más caro cuesta $1247000.0

# 15. ¿Cuántas propiedades de “apartment” se renovaron en 2015?

In [246]:
data.loc[data['yr_renovated']!=0, 'yr_renovated'] = pd.to_datetime(data.loc[ data['yr_renovated']!=0, 'yr_renovated']).dt.year

In [252]:
data[(data['dormitory_type'] == 'apartment')&(data['yr_renovated'] == 2015)]

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, house_age, dormitory_type, condition_type]
Index: []

[0 rows x 22 columns]

# 16. ¿Cuál es la mayor cantidad de cuartos que tiene una propiedad tipo “house”?

In [259]:
cuartos = data.loc[data['dormitory_type'] == 'house','bedrooms'].max()
print('La casa que más cuartos tiene, tiene {} cuartos'.format(cuartos))

La casa que más cuartos tiene, tiene 33 cuartos

# 17. ¿Cuántas propiedades de “new_house” se renovaron en 2014?

In [278]:
data[(data['house_age'] == 'new_house')&(data['yr_renovated'] > 2014)]

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, house_age, dormitory_type, condition_type]
Index: []

[0 rows x 22 columns]

# 18. Seleccione las columnas: “id”, “date”, “price”, “floors”, “ZIPcode” por método:
    - Directo por nombre de columna.
    - Por los Índices.
    - Por los índices de las filas y el nombre de las columnas

In [291]:
columnas = ['id', 'date', 'price','floors','zipcode']
data[columnas]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13  221900.0     1.0    98178
1      6414100192 2014-12-09  538000.0     2.0    98125
2      5631500400 2015-02-25  180000.0     1.0    98028
3      2487200875 2014-12-09  604000.0     1.0    98136
4      1954400510 2015-02-18  510000.0     1.0    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21  360000.0     3.0    98103
21609  6600060120 2015-02-23  400000.0     2.0    98146
21610  1523300141 2014-06-23  402101.0     2.0    98144
21611   291310100 2015-01-16  400000.0     2.0    98027
21612  1523300157 2014-10-15  325000.0     2.0    98144

[21613 rows x 5 columns]

In [285]:
data.iloc[:,[0,1,2,7,16]]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13  221900.0     1.0    98178
1      6414100192 2014-12-09  538000.0     2.0    98125
2      5631500400 2015-02-25  180000.0     1.0    98028
3      2487200875 2014-12-09  604000.0     1.0    98136
4      1954400510 2015-02-18  510000.0     1.0    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21  360000.0     3.0    98103
21609  6600060120 2015-02-23  400000.0     2.0    98146
21610  1523300141 2014-06-23  402101.0     2.0    98144
21611   291310100 2015-01-16  400000.0     2.0    98027
21612  1523300157 2014-10-15  325000.0     2.0    98144

[21613 rows x 5 columns]

In [289]:
data.loc[:,['id', 'date', 'price','floors','zipcode']]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13  221900.0     1.0    98178
1      6414100192 2014-12-09  538000.0     2.0    98125
2      5631500400 2015-02-25  180000.0     1.0    98028
3      2487200875 2014-12-09  604000.0     1.0    98136
4      1954400510 2015-02-18  510000.0     1.0    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21  360000.0     3.0    98103
21609  6600060120 2015-02-23  400000.0     2.0    98146
21610  1523300141 2014-06-23  402101.0     2.0    98144
21611   291310100 2015-01-16  400000.0     2.0    98027
21612  1523300157 2014-10-15  325000.0     2.0    98144

[21613 rows x 5 columns]

# 19. Guarde un archivo .csv con solo las columnas del elemento 10 al 17.

In [296]:
data.iloc[:,10:17].to_excel('test1.xlsx', index = False)
data.iloc[:,10:17].to_excel('test2.xlsx', index = True)

# Algunas preguntas más del CEO

1. ¿Cuál es el número de inmuebles por año de construcción?
2. ¿Cuál es el menor número de cuartos por año de construcción de las propiedades?
3. ¿Cuál es el precio de compra más alto por cada número de habitaciones?
4. ¿Cuál es la suma de todos los precios de compra por cada número de habitaciones?
5. ¿Cuál es la suma de todos los precios de compra por el número de dormitorios y baños?
6. ¿Cuál es el tamaño promedio de las habitaciones de los inmuebles por año de construcción?
7. ¿Cuál es el tamaño medio de las habitaciones de los inmuebles por año de construcción?
8. ¿Cuál es la desviación estándar del tamaño de las habitaciones de las propiedades por año de construcción?
9. ¿Cómo es el crecimiento promedio de los precios de compra de inmuebles, por día, mes y año?
10. Me gustaría mirar en el mapa y poder identificar las casas con el precio más alto

# 1. ¿Cuál es el número de inmuebles por año de construcción?

In [312]:
data = pd.read_csv('../data/kc_house_data.csv')

In [320]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [316]:
data['yr_built'] = pd.to_datetime(data['yr_built'], format='%Y').dt.year

In [324]:
# Estrategia
# i. Seleccionar columna año de construcción
# ii. Agrupar por año
# iii. Contar las casas en cada año
data[['id','yr_built']].groupby('yr_built').count().reset_index().rename(columns = {'yr_built':'Año de Construcción','id':'Número de casas construidas'})

     Año de Construcción  Número de casas construidas
0                   1900                           87
1                   1901                           29
2                   1902                           27
3                   1903                           46
4                   1904                           45
..                   ...                          ...
111                 2011                          130
112                 2012                          170
113                 2013                          201
114                 2014                          559
115                 2015                           38

[116 rows x 2 columns]

# 2. ¿Cuál es el menor número de cuartos por año de construcción de las propiedades?

In [334]:
## Estrategia
# i. Número de cuartos y Año construcción 
# ii. Agrupor por año de construcción
# iii. Tome el valor más bajo
nombres = {'yr_built':'Año Construcción','bedrooms':'Mínimo No. Cuartos'}
data[['bedrooms','yr_built']].groupby('yr_built').min().reset_index().rename(columns = nombres)

     Año Construcción  Mínimo No. Cuartos
0                1900                   1
1                1901                   2
2                1902                   2
3                1903                   1
4                1904                   2
..                ...                 ...
111              2011                   1
112              2012                   2
113              2013                   2
114              2014                   1
115              2015                   1

[116 rows x 2 columns]

# 3. ¿Cuál es el precio de compra más alto por cada número de habitaciones?

In [354]:
# Estrategia 
# i. Seleccionar precio y número de habitaciones
# ii. Agrupar por número de habitaciones
# iii. Tomar el valor máximo
df_aux1 = data[['price', 'bedrooms']].groupby('bedrooms').max().reset_index().rename(columns= {'price':'max price'})
df_aux2 = data[['price', 'bedrooms']].groupby('bedrooms').min().reset_index().rename(columns= {'price':'min price'})

In [359]:
df_aux3 = data[['id','bedrooms']].groupby('bedrooms').count().reset_index().rename(columns= {'id':'Cantidad'})

In [363]:
df_final = df_aux2.merge(df_aux1, on = 'bedrooms', how = 'outer')
df_final = df_final.merge(df_aux3, on = 'bedrooms', how = 'outer')
df_final[['bedrooms','Cantidad','min price','max price']]

    bedrooms  Cantidad  min price  max price
0          0        13   139950.0  1295650.0
1          1       199    75000.0  1247000.0
2          2      2760    78000.0  3278000.0
3          3      9824    82000.0  3800000.0
4          4      6882   100000.0  4489000.0
5          5      1601   133000.0  7062500.0
6          6       272   175000.0  7700000.0
7          7        38   280000.0  3200000.0
8          8        13   340000.0  3300000.0
9          9         6   450000.0  1400000.0
10        10         3   650000.0  1148000.0
11        11         1   520000.0   520000.0
12        33         1   640000.0   640000.0

# 4. ¿Cuál es la suma de todos los precios de compra por cada número de habitaciones?

In [376]:
# Estrategia
# i. Precios/No. habitaciones
# ii. Agrupar por No. habitaciones
# iii. suma (media)
data[['price', 'bedrooms']].groupby('bedrooms').mean().reset_index()

    bedrooms      price
0          0  409503.85
1          1  317642.88
2          2  401372.68
3          3  466232.08
4          4  635419.50
5          5  786599.83
6          6  825520.64
7          7  951184.66
8          8 1105076.92
9          9  893999.83
10        10  819333.33
11        11  520000.00
12        33  640000.00

# 5. ¿Cuál es la suma de todos los precios de compra por el número de dormitorios y baños?

In [383]:
# Estrategia
# i. Precios, cuartos y baños! 
# ii. Agrupar cuartos y baños! 
# iii. suma (media)
data[['price', 'bedrooms', 'bathrooms']].groupby(['bedrooms', 'bathrooms']).mean().reset_index()

     bedrooms  bathrooms      price
0           0       0.00  520371.43
1           0       0.75  265000.00
2           0       1.00  228000.00
3           0       1.50  288000.00
4           0       2.50  299983.33
..        ...        ...        ...
139        10       2.00  650000.00
140        10       3.00  660000.00
141        10       5.25 1148000.00
142        11       3.00  520000.00
143        33       1.75  640000.00

[144 rows x 3 columns]

In [384]:
data[['price', 'bedrooms', 'bathrooms']].groupby(['bathrooms','bedrooms']).mean().reset_index()

     bathrooms  bedrooms      price
0         0.00         0  520371.43
1         0.00         1  279666.67
2         0.50         1  255000.00
3         0.50         2  191000.00
4         0.50         4  312500.00
..         ...       ...        ...
139       6.75         7  800000.00
140       7.50         9  450000.00
141       7.75         6 6885000.00
142       8.00         6 7700000.00
143       8.00         7 2280000.00

[144 rows x 3 columns]

# 6. ¿Cuál es el tamaño promedio de las habitaciones de los inmuebles por año de construcción?

# 7. ¿Cuál es el tamaño medio de las habitaciones de los inmuebles por año de construcción?

# 8. ¿Cuál es la desviación estándar del tamaño de las habitaciones de las propiedades por año de construcción?

# 9. ¿Cómo es el crecimiento promedio de los precios de compra de inmuebles, por día, mes y año?

# 10. Me gustaría mirar en el mapa y poder identificar las casas con el precio más alto

# Y más preguntas del CEO

1. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es menor a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'
2. Haga un gráfico de barras que represente la suma de precios por el número de habitaciones.
3. Haga un gráfico de líneas que represente el promedio de precios para el año de construcción de las propiedades.
4. Haga un gráfico de barras que represente el promedio de precios por tipo de dormitorios.
5. Haga un gráfico de líneas que muestre la evolución del promedio de precios para el año de la reforma de la
inmuebles del año 1930.
6. Haga una tabla que muestre los precios promedio por año de construcción y tipo de dormitorio de la
propiedades
7. Crea un Tablero con los gráficos de las preguntas 02, 03, 04 ( Tablero: 1 Fila y 2 Columnas )
8. Cree un Tablero con los gráficos de las preguntas 02, 04 ( Tablero: 2 columnas )
9. Crea un Dashboard con las gráficas de las preguntas 03, 05 ( Dashboard: 2 Lines )
10. Haga un gráfico con el tamaño de los puntos igual al tamaño de la sala de estar
11. Adicione la siguiente información a cada inmueble:
    - Nombre de la calle
	- Número de la casa
    - Nombre del barrio
    - Nombre de la ciudad
	- Nombre del estado

# 1. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es menor a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'

# 2. Haga un gráfico de barras que represente la suma de precios por el número de habitaciones.

# 3. Haga un gráfico de líneas que represente el promedio de precios para el año de construcción de las propiedades.

# 4. Haga un gráfico de barras que represente el promedio de precios por tipo de dormitorios.

# 5. Haga un gráfico de líneas que muestre la evolución del promedio de precios para el año de la reforma de la inmuebles del año 1930.

# 6. Haga una tabla que muestre los precios promedio por año de construcción y tipo de dormitorio de la propiedades

# 7. Crea un Tablero con los gráficos de las preguntas 02, 03, 04 ( Tablero: 1 Fila y 2 Columnas )

# 8. Cree un Tablero con los gráficos de las preguntas 02, 04 ( Tablero: 2 columnas )

# 9. Crea un Dashboard con las gráficas de las preguntas 03, 05 ( Dashboard: 2 Lines )

# 10. Haga un gráfico con el tamaño de los puntos igual al tamaño de la sala de estar

# Más preguntas del CEO

1. ¿Cuántas propiedades por nivel?
    - Nivel 0: Precio entre 0,00 y 321.950
    - Nivel 1: Precio entre 321.950 y 450.000
    - Nivel 2: Precio entre 450.000 y  645.000
    - Nivel 3: Precio superior 645.000

2. Adicione la siguiente información a cada inmueble:
    - Nombre de la calle
	- Número de la casa
    - Nombre del barrio
    - Nombre de la ciudad
	- Nombre del estado

3. Agregue el nivel de propiedades en el mapa como un color
4. Agregue el precio de la propiedad como tamaño de punto en el mapa
5. Agregue opciones de filtro para que yo haga mi propio análisis:
    - Quiero elegir ver propiedades con vista al agua o no.
    - Quiero filtrar propiedades hasta un cierto valor de precio.

# 1. ¿Cuántas propiedades por nivel?
    - Nivel 0: Precio entre 0,00 y 321.950
    - Nivel 1: Precio entre 321.950 y 450.000
    - Nivel 2: Precio entre 450.000 y  645.000
    - Nivel 3: Precio superior 645.000

# 2. Adicione la siguiente información a cada inmueble:
    - Nombre de la calle
	- Número de la casa
    - Nombre del barrio
    - Nombre de la ciudad
	- Nombre del estado

# 3. Agregue el nivel de propiedades en el mapa como un color

# 4. Agregue el precio de la propiedad como tamaño de punto en el mapa

# 5. Agregue opciones de filtro para que yo haga mi propio análisis:
    - Quiero elegir ver propiedades con vista al agua o no.
    - Quiero filtrar propiedades hasta un cierto valor de precio.