# Proyecto Venta de Casas en King County, USA

id - Unique ID for each home sold

date - Date of the home sale

price - Price of each home sold

bedrooms - Number of bedrooms

bathrooms - Number of bathrooms, where .5 accounts for a room with a toilet but no shower

sqft_living - Square footage of the apartments interior living space

sqft_lot - Square footage of the land space

floors - Number of floors

waterfront - A dummy variable for whether the apartment was overlooking the waterfront or not

view - An index from 0 to 4 of how good the view of the property was

condition - An index from 1 to 5 on the condition of the apartment,

grade - An index from 1 to 13, where 1-3 falls short of building construction and design, 7 has an average level of 
construction and design, and 11-13 have a high quality level of construction and design.

sqft_above - The square footage of the interior housing space that is above ground level

sqft_basement - The square footage of the interior housing space that is below ground level

yr_built - The year the house was initially built

yr_renovated - The year of the house’s last renovation

zipcode - What zipcode area the house is in

lat - Lattitude

long - Longitude

sqft_living15 - The square footage of interior housing living space for the nearest 15 neighbors

sqft_lot15 - The square footage of the land lots of the nearest 15 neighbors

Los datos están disponibles [aquí](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction)

## Preguntas del CEO
A partir de estos datos, hay que contestar las siguientes preguntas. 

1. ¿Cuántas casas hay disponibles para comprar?
2. ¿Cuántos atributos tienen las casas?
3. ¿Cuáles son los atributos de las casas?
4. ¿Cuál es la casa más cara (casa con mayor valor de venta)?
5. ¿Qué casa tiene más cuartos?
6. ¿Cuál es la suma total de trimestres en el conjunto de datos?
7. ¿Cuántas casas tienen 2 baños?
8. ¿Cuál es el precio promedio de todas las casas en el conjunto de datos?
9. ¿Cuál es el precio medio de las viviendas de 2 baños?
10. ¿Cuál es el precio mínimo para viviendas de 3 dormitorios?
11. ¿Cuántas casas tienen más de 300 metros cuadrados en la sala?
12. ¿Cuántas casas tienen más de 2 plantas?
13. ¿Cuántas casas tienen vista al mar?
14. De las casas con vistas al mar, ¿cuántas tienen 3 habitaciones?
15. De las casas con más de 300 metros cuadrados de salón, ¿cuántas tienen más de 2 baños?

## Respondiendo las preguntas del CEO

In [9]:
listas = ['a','b','c']
tuplas = ('a','b','c')
diccionarios = {'Var1':1, 'Var':2}

In [10]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}

In [11]:
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [6]:
import pandas as pd

In [ ]:
C:/Users/Windows/Google Drive/U libertadores/2022.1/Diplomado Data Science/Proyecto precios casas/data

In [159]:
data = pd.read_csv('C:/Users/Windows/Google Drive/U libertadores/2022.1/Diplomado Data Science/Proyecto precios casas/data/kc_house_data.csv')

In [85]:
data.head().T

,0,1,2,3,4
id,7129300520,6414100192,5631500400,2487200875,1954400510
date,20141013T000000,20141209T000000,20150225T000000,20141209T000000,20150218T000000
price,221900.0,538000.0,180000.0,604000.0,510000.0
bedrooms,3,3,2,4,3
bathrooms,1.0,2.25,1.0,3.0,2.0
sqft_living,1180,2570,770,1960,1680
sqft_lot,5650,7242,10000,5000,8080
floors,1.0,2.0,1.0,1.0,1.0
waterfront,0,0,0,0,0
view,0,0,0,0,0
condition,3,3,3,5,3
grade,7,7,6,7,8
sqft_above,1180,2170,770,1050,1680
sqft_basement,0,400,0,910,0
yr_built,1955,1951,1933,1965,1987
yr_renovated,0,1991,0,0,0
zipcode,98178,98125,98028,98136,98074
lat,47.5112,47.721,47.7379,47.5208,47.6168
long,-122.257,-122.319,-122.233,-122.393,-122.045
sqft_living15,1340,1690,2720,1360,1800
sqft_lot15,5650,7639,8062,5000,7503

In [10]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [11]:
data.shape

(21613, 21)

In [12]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [20]:
data[['sqft_basement','zipcode']]

       sqft_basement  zipcode
0                  0    98178
1                400    98125
2                  0    98028
3                910    98136
4                  0    98074
...              ...      ...
21608              0    98103
21609              0    98146
21610              0    98144
21611              0    98027
21612              0    98144

[21613 rows x 2 columns]

# 1. ¿Cuántas casas hay disponibles para comprar?

In [37]:
print('Están disponibles {} casas'.format(data['id'].nunique()))

Están disponibles 21436 casas

# 2. ¿Cuántos atributos tienen las casas?

In [46]:
print('Los inmuebles tienen {} atributos'.format(len(data.columns)-2))

Los inmuebles tienen 19 atributos

# 3. ¿Cuáles son los atributos de las casas?

In [63]:
aux = data.columns.tolist()
aux.remove('id')
aux.remove('date')
print('Los atributos de las casas son: {}'.format(aux))

Los atributos de las casas son: ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

# 4. ¿Cuál es la casa más cara (casa con mayor valor de venta)?

In [80]:
data[data['price']==data['price'].max()].T

                          7252
id                  6762700020
date           20141013T000000
price                7700000.0
bedrooms                     6
bathrooms                  8.0
sqft_living              12050
sqft_lot                 27600
floors                     2.5
waterfront                   0
view                         3
condition                    4
grade                       13
sqft_above                8570
sqft_basement             3480
yr_built                  1910
yr_renovated              1987
zipcode                  98102
lat                    47.6298
long                  -122.323
sqft_living15             3940
sqft_lot15                8800

# 5. ¿Qué casa tiene más cuartos?

In [83]:
data[data['bedrooms'] == data['bedrooms'].max()].T

                         15870
id                  2402100895
date           20140625T000000
price                 640000.0
bedrooms                    33
bathrooms                 1.75
sqft_living               1620
sqft_lot                  6000
floors                     1.0
waterfront                   0
view                         0
condition                    5
grade                        7
sqft_above                1040
sqft_basement              580
yr_built                  1947
yr_renovated                 0
zipcode                  98103
lat                    47.6878
long                  -122.331
sqft_living15             1330
sqft_lot15                4700

# 6. ¿Cuál es la suma total de cuartos en el conjunto de datos?

In [89]:
print('En total, hay {} cuartos a la venta'.format(data['bedrooms'].sum()))

En total, hay 72854 cuartos a la venta

# 7. ¿Cuántas casas tienen 2 baños?

In [100]:
print('Hay {} con únicamente dos baños'.format(data[data['bathrooms'] == 2].shape[0]))

Hay 1930 con únicamente dos baños

# 8. ¿Cuál es el precio promedio de todas las casas en el conjunto de datos?

In [117]:
print('El precio promedio de todas las casas del conjunto de datos es de {}'.format(data['price'].mean()))

El precio promedio de todas las casas del conjunto de datos es de 540088.1417665294

# 9. ¿Cuál es el precio medio de las viviendas de 2 baños?

In [123]:
data[data['bathrooms'] ==2]['price'].mean()

457889.7186528497

In [139]:
print('El precio medio de las viviendas de dos baños es de {}'.format(round(data.loc[data['bathrooms'] ==2,'price'].mean(),2)))

El precio medio de las viviendas de dos baños es de 457889.72

# 10. ¿Cuál es el precio mínimo para viviendas de 3 dormitorios?

In [149]:
print('{} es el precio mínimo de una vivienda con tres habitaciones'.format(round(data.loc[data['bedrooms']==3, 'price'].min(),2)))

82000.0 es el precio mínimo de una vivienda con tres habitaciones

# 11. ¿Cuántas casas tienen más de 300 metros cuadrados en la sala?

In [161]:
print('Hay {} casa con más de 300 metros cuadrados en la sala'.format(data[data['sqft_living']>300].shape[0]))

Hay 21612 casa con más de 300 metros cuadrados en la sala

# 12. ¿Cuántas casas tienen más de 2 plantas?

# 13. ¿Cuántas casas tienen vista al mar?

# 14. De las casas con vistas al mar, ¿cuántas tienen 3 habitaciones?

# 15. De las casas con más de 300 metros cuadrados de salón, ¿cuántas tienen más de 2 baños?

# Nuevas preguntas del CEO

1. Cree una nueva columna llamada: "house_age"
    - Si el valor de la columna "fecha" es mayor que 2014-01-01 => 'nueva_casa'
    - Si el valor de la columna "fecha" es menor que 2014-01-01 => 'old_house'
2. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es igual a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'
3. Cree una nueva columna llamada: "condition_type"
    - Si el valor de la columna "condición" es menor o igual a 2 => 'malo'
    - Si el valor de la columna "condición" es igual a 3 o 4 => 'regular'
    - Si el valor de la columna "condición" es igual a 5 => 'bueno'
4. Cambie el TIPO en la columna "condición" a CADENA
5. Elimine las columnas: "sqft_living15" y "sqft_lot15"
6. Cambie el TIPO en la columna "yr_build" a FECHA
7. Cambie el TIPO en la columna "yr_renovated" a FECHA
8. ¿Cuál es la fecha más temprana de construcción de una propiedad?
9. ¿Cuál es la fecha de renovación más temprana para una propiedad?
10. ¿Cuántas propiedades tienen 2 pisos?
11. ¿Cuántas propiedades se encuentran en condición igual a “regular”?
12. ¿Cuántas propiedades están en una condición igual a “mala” y tienen “vistas al agua”?
13. ¿Cuántas propiedades tienen una condición igual a “buena” y son “nueva_casa”?
14. ¿Cuál es el valor de la propiedad de “estudio” más cara?
15. ¿Cuántas propiedades de “apartamentos” se renovaron en 2015?
16. ¿Cuál es la mayor cantidad de cuartos que tiene una propiedad tipo “casa”?
17. ¿Cuántas propiedades de “casa_nueva” se renovaron en 2014?
18. Seleccione las columnas: “id”, “fecha”, “precio”, “pisos”, “código postal” por método:
    - Directo por nombre de columna.
    - Por los Índices.
    - Por los índices de las filas y el nombre de las columnas
    - Índices booleanos 
19. Guarde un archivo .csv con solo las columnas del elemento 10 al 17.

# 1. Cree una nueva columna llamada: "house_age"
    - Si el valor de la columna "fecha" es mayor que 2014-01-01 => 'nueva_casa'
    - Si el valor de la columna "fecha" es menor que 2014-01-01 => 'old_house'

# 2. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es igual a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'

# 3. Cree una nueva columna llamada: "condition_type"
    - Si el valor de la columna "condición" es menor o igual a 2 => 'malo'
    - Si el valor de la columna "condición" es igual a 3 o 4 => 'regular'
    - Si el valor de la columna "condición" es igual a 5 => 'bueno'

# 4. Cambie el TIPO en la columna "condición" a CADENA

# 5. Elimine las columnas: "sqft_living15" y "sqft_lot15"

# 6. Cambie el TIPO en la columna "yr_build" a FECHA

# 7. Cambie el TIPO en la columna "yr_renovated" a FECHA

# 8. ¿Cuál es la fecha más temprana de construcción de una propiedad?

# 9. ¿Cuál es la fecha de renovación más temprana para una propiedad?

# 10. ¿Cuántas propiedades tienen 2 pisos?

# 11. ¿Cuántas propiedades se encuentran en condición igual a “regular”?

# 12. ¿Cuántas propiedades están en una condición igual a “mala” y tienen “vistas al agua”?

# 13. ¿Cuántas propiedades tienen una condición igual a “buena” y son “nueva_casa”?

# 14. ¿Cuál es el valor de la propiedad de “estudio” más cara?

# 15. ¿Cuántas propiedades de “apartamentos” se renovaron en 2015?

# 16. ¿Cuál es la mayor cantidad de cuartos que tiene una propiedad tipo “casa”?

# 17. ¿Cuántas propiedades de “casa_nueva” se renovaron en 2014?

# 18. Seleccione las columnas: “id”, “fecha”, “precio”, “pisos”, “código postal” por método:
    - Directo por nombre de columna.
    - Por los Índices.
    - Por los índices de las filas y el nombre de las columnas
    - Índices booleanos

# 19. Guarde un archivo .csv con solo las columnas del elemento 10 al 17.

# Algunas preguntas más del CEO

1. ¿Cuál es el número de inmuebles por año de construcción?
2. ¿Cuál es el menor número de cuartos por año de construcción de las propiedades?
3. ¿Cuál es el precio de compra más alto por cada número de habitaciones?
4. ¿Cuál es la suma de todos los precios de compra por cada número de habitaciones?
5. ¿Cuál es la suma de todos los precios de compra por el número de dormitorios y baños?
6. ¿Cuál es el tamaño promedio de las habitaciones de los inmuebles por año de construcción?
7. ¿Cuál es el tamaño medio de las habitaciones de los inmuebles por año de construcción?
8. ¿Cuál es la desviación estándar del tamaño de las habitaciones de las propiedades por año de construcción?
9. ¿Cómo es el crecimiento promedio de los precios de compra de inmuebles, por día, mes y año?
10. Me gustaría mirar en el mapa y poder identificar las casas con el precio más alto

# 1. ¿Cuál es el número de inmuebles por año de construcción?

# 2. ¿Cuál es el menor número de cuartos por año de construcción de las propiedades?

# 3. ¿Cuál es el precio de compra más alto por cada número de habitaciones?

# 4. ¿Cuál es la suma de todos los precios de compra por cada número de habitaciones?

# 5. ¿Cuál es la suma de todos los precios de compra por el número de dormitorios y baños?

# 6. ¿Cuál es el tamaño promedio de las habitaciones de los inmuebles por año de construcción?

# 7. ¿Cuál es el tamaño medio de las habitaciones de los inmuebles por año de construcción?

# 8. ¿Cuál es la desviación estándar del tamaño de las habitaciones de las propiedades por año de construcción?

# 9. ¿Cómo es el crecimiento promedio de los precios de compra de inmuebles, por día, mes y año?

# 10. Me gustaría mirar en el mapa y poder identificar las casas con el precio más alto

# Y más preguntas del CEO

1. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es menor a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'
2. Haga un gráfico de barras que represente la suma de precios por el número de habitaciones.
3. Haga un gráfico de líneas que represente el promedio de precios para el año de construcción de las propiedades.
4. Haga un gráfico de barras que represente el promedio de precios por tipo de dormitorios.
5. Haga un gráfico de líneas que muestre la evolución del promedio de precios para el año de la reforma de la
inmuebles del año 1930.
6. Haga una tabla que muestre los precios promedio por año de construcción y tipo de dormitorio de la
propiedades
7. Crea un Tablero con los gráficos de las preguntas 02, 03, 04 ( Tablero: 1 Fila y 2 Columnas )
8. Cree un Tablero con los gráficos de las preguntas 02, 04 ( Tablero: 2 columnas )
9. Crea un Dashboard con las gráficas de las preguntas 03, 05 ( Dashboard: 2 Lines )
10. Haga un gráfico con el tamaño de los puntos igual al tamaño de la sala de estar
11. Adicione la siguiente información a cada inmueble:
    - Nombre de la calle
	- Número de la casa
    - Nombre del barrio
    - Nombre de la ciudad
	- Nombre del estado

# 1. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es menor a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'

# 2. Haga un gráfico de barras que represente la suma de precios por el número de habitaciones.

# 3. Haga un gráfico de líneas que represente el promedio de precios para el año de construcción de las propiedades.

# 4. Haga un gráfico de barras que represente el promedio de precios por tipo de dormitorios.

# 5. Haga un gráfico de líneas que muestre la evolución del promedio de precios para el año de la reforma de la inmuebles del año 1930.

# 6. Haga una tabla que muestre los precios promedio por año de construcción y tipo de dormitorio de la propiedades

# 7. Crea un Tablero con los gráficos de las preguntas 02, 03, 04 ( Tablero: 1 Fila y 2 Columnas )

# 8. Cree un Tablero con los gráficos de las preguntas 02, 04 ( Tablero: 2 columnas )

# 9. Crea un Dashboard con las gráficas de las preguntas 03, 05 ( Dashboard: 2 Lines )

# 10. Haga un gráfico con el tamaño de los puntos igual al tamaño de la sala de estar

# Más preguntas del CEO

1. ¿Cuántas propiedades por nivel?
    - Nivel 0: Precio entre 0,00 y 321.950
    - Nivel 1: Precio entre 321.950 y 450.000
    - Nivel 2: Precio entre 450.000 y  645.000
    - Nivel 3: Precio superior 645.000

2. Adicione la siguiente información a cada inmueble:
    - Nombre de la calle
	- Número de la casa
    - Nombre del barrio
    - Nombre de la ciudad
	- Nombre del estado

3. Agregue el nivel de propiedades en el mapa como un color
4. Agregue el precio de la propiedad como tamaño de punto en el mapa
5. Agregue opciones de filtro para que yo haga mi propio análisis:
    - Quiero elegir ver propiedades con vista al agua o no.
    - Quiero filtrar propiedades hasta un cierto valor de precio.

# 1. ¿Cuántas propiedades por nivel?
    - Nivel 0: Precio entre 0,00 y 321.950
    - Nivel 1: Precio entre 321.950 y 450.000
    - Nivel 2: Precio entre 450.000 y  645.000
    - Nivel 3: Precio superior 645.000

# 2. Adicione la siguiente información a cada inmueble:
    - Nombre de la calle
	- Número de la casa
    - Nombre del barrio
    - Nombre de la ciudad
	- Nombre del estado

# 3. Agregue el nivel de propiedades en el mapa como un color

# 4. Agregue el precio de la propiedad como tamaño de punto en el mapa

# 5. Agregue opciones de filtro para que yo haga mi propio análisis:
    - Quiero elegir ver propiedades con vista al agua o no.
    - Quiero filtrar propiedades hasta un cierto valor de precio.